.App {
    text-align: center;
    background-color: rgb(0, 0, 0);
  }
  
  .App-header {
    /*background-color: #282c34;*/
    /* flex-direction: column; */
    /* font-size: calc(1px + 2vmin); */ 
    min-height: 8vh;
    display: flex;
    align-items: left;
    justify-content: left;
    color: white;
    padding-left: 10px;
    text-shadow: 2px 2px 4px #000000;
  
  }

  