.all-bottom-info-container{
    display: flex;
    flex-direction: column;
    margin-top: 160px;
}
.contact-info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    
  }
  
  .separator {
    width: 92%;
    height: 2px;
    background-color: #d3d3d3;
    margin: 0 auto 20px auto;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.7);
    border-radius: 1px;
  }
  
  .contact-info-content {
    margin-left: 80px;
    max-width: 800px;
  }
  
  .contact-info-title {
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: whitesmoke;
  }
  
  .contact-info-description {
    font-size: 20px;
    text-align: left;
  }
  
  .contact-details {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    width: 100%;
  }
  
  .contact-section {
    text-align: left;
  }
  
  .contact-section-title {
    font-size: 24px;
    color: #F1CC5F;
    margin-bottom: 10px;
  }
  
  .contact-detail {
    font-size: 18px;
  }
  
  .store-hours {
    text-align: left;
    width: 100%;
    max-width: 300px;
    margin-left: 20px;
  }
  
  .store-hours-title {
    font-size: 24px;
    color: #F1CC5F;
    margin-bottom: 10px;
  }
  
  .store-hours-details {
    display: flex;
    flex-direction: column;
  }
  
  .store-hours-detail {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }
  
  .contact-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    margin-top: 10px;
  }
  
  .contact-button {
    margin-right: 60px;
    background-color: black;
    color: whitesmoke;
    border: 2px solid #C49233;
    padding: 10px 20px;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 220px;

    border-radius: 10px;

    text-align: center; /* Center the text */
    display: block;
  }
  
  .contact-button:hover {
    background-color: #F1CC5F;
    border-color: #F1CC5F;
    color: black;
    text-decoration: none;
  }

  .link-thing{
    color:  #0000FF;
  }
  