p { 
    color: whitesmoke;
}

.home_container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    background-color: #000;
}

.top_container{
    display: flex;
    justify-content: space-between; /* Distributes items with space between them */
    width: 100%;
}

.MagicMackLogo{
    width: 250px;
    height: 125px;
    align-self: flex-start;

    margin-left: 40px;
    margin-top: 10px;
}

.AutoDetail{
    width: auto;
    height: 140px;
    align-self: flex-start;

    margin-right: 6px;
    margin-top: 5px;
}


.image-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #000;

    margin-top: 10px;
}

.images-wrapper{
    display: flex;
    width: 100%;
    background-color: #000;
}

.image-wrapper {
    display: inline-block;
    width: calc(200%); /* Adjust this to ensure the wrapper is twice as wide as the viewport */
    animation: scroll 25s linear infinite; 
    left: 0%;
}

/* .image-wrapper img {
    width: 200px; 
    min-width: 200px;
    height: 100px; 
    margin: 10px;
    display: inline-block;

    border-radius: 10px;
    border: 3px solid #d3d3d3;
} */

.image-wrapper-right {
    display: inline-block;
    width: calc(200%); /* Adjust this to ensure the wrapper is twice as wide as the viewport */
    animation: scroll2 25s linear infinite; 
    left: 0%;
}

.image-wrapper img,
.image-wrapper-right img {
    width: 15.625%; /* Adjust the size as needed */
    min-width: 15.625%;
    height: 125px;
    margin: 0.78125%;
    display: inline-block;

    border-radius: 10px;
    border: 3px solid #d3d3d3;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.7);
}

.images_left_box{
    left: 0%;
    width: 50%;
    overflow: hidden;
    height: auto;
}

.images_right_box{
    /* left: 50%; */
    width: 50%;
    overflow: hidden;
    height: auto;
    position: relative;
}

.magic-wand {
    position: absolute;
    top: 353.5448px; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to exact center */
    width: auto; /* Adjust size as needed */
    height: 550px; /* Maintain aspect ratio */
    z-index: 10; /* Ensure it's above other elements */
}

.images-wrapper::before,
.images-wrapper::after {
    content: '';
    position: absolute;
    top: 20vh;
    /* bottom: 20vh; */
    height: 55vh;
    width: 8%;
    z-index: 5;
    pointer-events: none;
}

.images-wrapper::before {
    left: 0;
    background: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0) 100%);
}

.images-wrapper::after {
    right: 0;
    background: linear-gradient(to left, #000 0%, rgba(0, 0, 0, 0) 100%);
}

.beauty_of_vehicle{
    margin-top: 230px;
    margin-left: 50px;
}

.gold_squig{
    position: absolute;
    width: 100%;
    z-index: 10;
    /* margin-top: 200px; */
    height: 80px;
}


.gold_squig_top{
    top: 0;
}


.gold_squig_bottom{
    bottom: 1px;
    transform: rotate(180deg);
}

.big_pretty_container {
    margin-top: 235px;
    position: relative;
    height: 760px;
    width: 100%;
    overflow: hidden;
}

.big_pretty_wrapper{
    margin-top: 40px;
    
    width: 100%;
    height: 680px;
    overflow: hidden;
    align-self: center;

}
  
.big_pretty {
    width: 100%;
    height: auto; /* Maintains aspect ratio */
    display: block; /* Removes default inline styling */
    z-index: 1;
}

.text_big_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
  }
  
  .text_big_image h1 {
    font-size: 3em; /* Adjust as needed */
    font-weight: bold;
    margin: 0;
    color: whitesmoke;

    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  }
  
  .text_big_image h2 {
    font-size: 1em; /* Adjust as needed */
    font-weight: normal;
    margin-top: 30px;
    letter-spacing: 0.2em; /* Adjust for spacing between letters */

    color: whitesmoke;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  }

.bottom_container{

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    width: 100%;

    margin-top: 200px;
}

.goldie{
    width: 25%;
    height: auto;
    position: absolute;
    bottom: 0;
}

.bottom_left{
    left: 0;
}

.bottom_right{
    right: 0;
    transform: scaleX(-1);
}

@keyframes scroll {
    0% {
        transform: translateX(-154.6875%);
    }
    100% {
        transform: translateX(0%);
      
    }
  }

@keyframes scroll2 {
    0% {
        transform: translateX(-204.6875%);
    }
    100% {
        transform: translateX(-50%);
      
    }
  }
