body {
  margin: 0;
  /* background: linear-gradient(180deg, #E5B80B, rgb(0, 0, 0)); */
  background-color: black;
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* height: 100vh;
  width: 100vw; */
  justify-content: center;
  /* align-items: center; */
  /* height: 100%; */
}

#root{
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.all_container {
  /* width: 100%; */
  background-color: black;
}

.top_container{
  display: flex;
  justify-content: space-between; /* Distributes items with space between them */
  width: 100%;
}

.MagicMackLogo{
  width: 250px;
  height: 125px;
  align-self: flex-start;

  margin-left: 40px;
  margin-top: 10px;
}

.AutoDetail{
  width: auto;
  height: 140px;
  align-self: flex-start;

  margin-right: 6px;
  margin-top: 5px;
}