body {
  margin: 0;
  background-color: black;
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  justify-content: center;
}

#root {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.all_container {
  background-color: black;
}

.top_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.MagicMackLogo {
  width: 250px;
  height: 125px;
  align-self: flex-start;
  margin-left: 40px;
  margin-top: 10px;
}

.AutoDetail {
  width: auto;
  height: 140px;
  align-self: flex-start;
  margin-right: 6px;
  margin-top: 5px;
}

.bottom_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-top: 200px;
}

.goldie {
  width: 25%;
  height: auto;
  position: absolute;
  bottom: 0;
}

.bottom_left {
  left: 0;
}

.bottom_center {
  left: 50%;
  transform: translateX(-50%);
}

.bottom_right {
  right: 0;
  transform: scaleX(-1);
}

.logo_bottom{
  height: 118.9px;
  position: absolute;
  bottom: 0;
}